@import 'bootstrap/dist/css/bootstrap.min.css';




header {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}



.navbar {
    gap: 2rem;
    font-family: 'Open Sans Variable', sans-serif;
}

.navbar a {
    color: #46464c;
    text-decoration: none;
    font-weight: 600;
}



.navbar .active {
    color: #39a1fb;
    border-bottom: 5px solid #39a1fb;

}