 header {
     margin-top: 20px;
     display: flex;
     justify-content: space-around;

     margin-bottom: 50px;
 }





 .navbar {
     font-family: 'Open Sans Variable', sans-serif;
 }

 .navbar a {
     color: #46464c;
     text-decoration: none;
     font-weight: 600;
     padding: 20px;

 }





 .navbar a:hover {

     color: #39a1fb;
     border-bottom: 10px solid #39a1fb;
     padding-bottom: 80px;
 }





 .main {
     min-height: 10vh;
     text-align: center;
     align-items: center;
     display: flex;
 }

 .content {
     color: white;
     font-family: 'Open Sans Variable', sans-serif;
     font-size: 30px;
     margin-left: 200px;
 }


 .shop-container {

     background-color: #39a1fb;
     color: white;
     padding: 50px;
 }

 .shop-container img {

     width: 100px;
     height: 100px;
     object-fit: contain;
 }

 .shop-container span {
     margin-left: 10px;
 }


 .background-images {

     background-image: url(../public/img/footer-bg.jpg);
     background-size: cover;
     background-repeat: no-repeat;


 }


 #dc-logo {
     position: absolute;
     right: 20%;
 }


 .footer .h5 {

     color: white;
 }